{% extends "master.html" %}

<title>{% block title %}Ballyconnell National School{% endblock %}</title>

{% block body %}
<main>
    <section>
        <p>TESTSETSETSET</p>
        <p>TESTSETSETSET</p>
        <p>TESTSETSETSET</p>
        <p>TESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSETTESTSETSETSET</p>
        <p>TESTSETSETSET</p>
        <p>TESTSETSETSET</p>
        <p>TESTSETSETSET</p>
    </section>
</main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block modals %}
{% endblock %}
