{% extends "admin_index.html" %}

<title>{% block title %}Dashboard Login{% endblock %}</title>

{% block body %}
<section id="login">
    <div class="background-wrapper">
        <img src="{{ url_for('web.static', filename='images/school/feature-back.jpg') }}">
    </div>
    <div class="login-panel">
        <p>This service is currently in active testing and should not be used for release of any format statements.</p>
        <div class="panel-wrapper">
            <div class="logo">
                <a href=""><img src="{{ url_for('web.static', filename='images/logo-small.png') }}"></a>
                <p>Ballyconnell National School Administration Suite</p>
            </div>

            <form name="login" action="/admin/login" method="post">
                {% for element in form %}
                    {{ element(placeholder=element.label.text) }}
                        {% if element.errors %}
                            <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                {% endfor %}
                <button type="submit" class="login-button">Sign In</button>
            </form>
            <div class="other-options">
                <ul>
                    <li><a href="register">Register</a></li>
                    <li><a href="support">Support</a></li>
                    <li><a href="support">Return to Main Site</a></li>
                    <li><a href="support">Log a Ticket</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer>
    <ul>
        <li>Apollo Management Studio</li>
    </ul>
</footer>
{% endblock %}