{% extends "index.html" %}

<title>{% block title %}Ballyconnell NS | News{% endblock %}</title>

{% block body %}

{% include"partials/navigation.html" %}

<section id="latest">
    <div class="wrapper">
        <ul class="breadcrumb">
            <li>Home</li>
            <li>News</li>
        </ul>
        <div class="masthead">
            <h2>Recent News</h2>
            <div class="strip"></div>
        </div>
        <div class="display-article">
            {% set i = articles[0] %}
            <div class="metadata">
                <strong>Article Published: {{ i.created | datetime_filter}}</strong>
                <img src="{{ static_path }}images/class.jpg">
            </div>
            <div class="article-content">
                <h2>{{ i.title }}</h2>
                <div>{{ i.content }}</div>
            </div>
            <div class="author">
                <p>By:
                    <strong> <a href="news/author/{{ i.author_join.resource_identifier }}">{{ i.author_join.firstname }} {{ i.author_join.surname }}</a></strong>
                    <span class="fa fa-mortar-board"></span><span>{{ i.author_join.position }}</span>
                </p>
            </div>
        </div>
        <div class="masthead">
            <h2>Other Latest News</h2>
            <div class="strip"></div>
        </div>
        <div class="news-articles">
            {% for i in articles %}
                <article>
                    <a href="/news/{{ i.id }}">
                        <div class="article-image">
                            <img src="{{ static_path }}images/class.jpg">
                        </div>
                        <div class="strip"></div>
                        <div class="article-body">
                            <h3>{{ i.title }}</h3>
                        </div>
                        <div class="article-date">
                            <span>2017-01-0{{ i.created }}</span>
                        </div>
                        <div class="article-author">
                            <span>{{ i.author.username }}</span>
                        </div>
                    </a>
                </article>
            {% endfor %}
        </div>
        <div class="more-news">
            <button class="bns-button">More News</button>
        </div>
    </div>
</section>

{% endblock %}