@import "variables";
@import "wireframe";
@import "mixins";
@import "common/animations";
@import "common/forms";
@import "common/lists";
@import "common/icings";
@import "common/buttons";
@import "components/header";
@import "components/navigation";
@import "components/footer";
@import "sections";


body, html {
	height: 100%;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}

ul li {
	list-style: none;
}
a {color: inherit; }
* {
	text-decoration: none;
}
.fa {
	padding-left: 15px;
	padding-right: 15px;
}
ol, ul {
	padding: 0;
	margin: 0;
}