
section {
	overflow: hidden;
	padding-bottom: 50px;
}

.background-wrapper {
	position: relative;
	width: 100%;
	img {
		width: 100%;
	}
	.info-pane {
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba(0,0,0,0.5);
		padding: 50px;
		height: 100%;
		p {
			color: #fff;
			line-height: 25px;
			font-weight: 600;
		}
	}
}


#latest {
	.news-articles {
		// overflow: hidden;
	}
	.masthead {
		text-align: center;
	}
	article {
		max-height: 350px;
		position: relative;
		.article-image {
			position: relative;
			max-height: 150px;
			overflow: hidden;
		}
		img { 
			width: 100%;
			height: 150px;
			@include transition-all(1000ms);
		}
		a {
			height: 300px;
			box-shadow: 1px 1px 1px 0px #ccc;
			text-decoration: none;
			border: 1px solid #ccc;
			display: block;
			overflow: hidden;
		}
		a:hover {
			box-shadow: 1px 1px 8px 0px #ccc;
			.article-date {
				top: -30px;
			}
			img {
				transform: scale(1.05);
			}
		}
		h3, span {
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			font-size: 1.0em;
			line-height: 20px;
			font-weight: 600;
		}
		h3 { color: #000; }
		.article-body, .article-author {
			padding: 10px;
			span { color: $red; }
		}
		.article-author {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		width: 25%;
		padding: 10px;
		float: left;
		.article-date {
			position: absolute;
			color: #fff;
			padding: 10px;
			top: 10px;
			left: 10px;
			background-color: rgba(0,0,0,0.5);
			@include transition-all(250ms);
		}
	}
	.display-article {
		position: relative;
		.metadata {
			position: relative;
			strong {
				background-color: rgba(0, 0, 0, 0.25);
				width: 100%;
				position: absolute;
				margin: 0 auto;
				bottom: 0;
				line-height: 100px;
				color: #FFF;
				font-size: 20px;
				text-align: center;
			}
			img {
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.54);
				width: 100%;
			}
		}
		.article-content {
			h2 { line-height: 60px; }
			font-size: 20px;
			line-height: 30px;
		}
		max-height: none;
		padding: 50px;
		height: auto;
		width: 100%;
		img {
			width: 50%;
		}
		.author {
			p { line-height: 60px; }
			.fa { font-size: 20px; }
			strong { color: $navy; }
			span { color: $red; }
		}
	}
	.more-news {
		width: 50%;
		padding-top: 25px;
		padding-bottom: 25px;
		margin: 0 auto;
	}
}
#error {
	font-size: 20px;
	.fa {
		font-size: 50px;
	}
	.fa-cog {
		animation-name: spin;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
	.animation {
		text-align: center;
	}
	div {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.error-header {
		font-weight: 600;
	}
	.error-causes {
		padding-left: 50px;
		li { line-height: 50px; }
		li:before {
			font-size: 25px;
			padding-left: 15px;
			padding-right: 15px;
			font-family: FontAwesome;
			content: '\f128';
		}
	}
	.redirect-notification {
		span { font-weight: 600; }
	}
}
@include responsive("tablet", max) {
	#latest article {
		width: 100%;
	}
}
