{% extends "base.html" %}

<title>{% block title %}Not Found{% endblock %}</title>

{% block body %}

{% include"partials/navigation.html" %}

<section id="error">
    <div class="wrapper">
        <div class="animation"><span class="fa fa-cog"></span></div>
        <div class="redirect-notification">
            <p>You will automatically be redirected in <span id="counter" data-timer="10"></span> seconds</p>
        </div>
        <div class="error-header">
            <p>HTTP 404. The page you requested cannot be found.</p>
            <p>This can occur due to the following reasons:</p>
        </div>
        <ul class="error-causes">
            <li>Malformed URL. Please check the URL in your browser address bar</li>
            <li>The page no longer exists. If this is unexpected please contact the site administrator or log a ticket here:</li>
        </ul>

        <a class="bns-button" href="/">Home</a>
    </div>
</section>
{% endblock %}