header {
	max-width: $page-width;
	margin: 0 auto;
	overflow: hidden;
	.logo {
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
		width: 90px;
		margin: 0 auto;
	}
	ul {
		padding-top: 10px;
		padding-bottom: 10px;
		float: left;
	}
	.header-left {
		float: left;
	}
	img {
		height: 100px;
	}
	ul li {
	 	line-height: 20px;
	}
}

#searchbox {
	padding-top: 40px;
}
.nav-wrapper {
	background-color: $navy;
}
nav, #nav {
	text-align: center;
	max-width: $page-width;
	margin: 0 auto;
	// overflow: hidden;
	li {
		text-transform: uppercase;
		// position: relative;
		display: inline-block;
		color: #fff;
		text-align: center;
		font-size: 1em;
		@include transition-all(500ms);
	}
	li:after, .active:after {
		float: right;
		top: 90%;
		left: 0%;
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		-o-transition: 0.2s;
		-ms-transition: 0.2s;
		background: $red;
		content: '';
		height: 4px;
		margin-left: 50%;
		width: 0%;
		margin-bottom: -4px;
	}
	.active:after {
		margin-left: 0;
    	width: 100%;
	}
	.links > li:hover {
		a { color: #000; }
		background-color: white;
	}
	.links > li:hover:after {
		margin-left: 0;
    	width: 100%;
	}
	a {
		line-height: 25px;
		text-decoration: none;
		padding: 25px 16px;
		display: block;
		font-weight: 600;
	}
	.icon {
		display: none;
	}
}

.navicon-container {
	top: 10px;
    position: relative;
    height: 55px;
    padding: 5px;
    width: 60px;
    float: right;
	background-color: $navy;
}
#nav-icon {
	span { background: #fff; }
    position: absolute;
    top: 25%;
    right: 0;
    cursor: pointer;
    left: 0;
    margin: 0 auto;
}

.sub-group {
	transform: translateY(10%) skewX(0deg) rotateY(45deg);
}
.links {
	display: inline;
	.sub-group {
		opacity: 0;
		position: absolute;
		height: auto;
		width: 100%;
		pointer-events: none;
		li {
			color: #FFF;
			width: 100%;
		}
		background-color: rgba(0, 0, 0, 0.51);
		top: inherit;
		left: 0;
		z-index: 10;
		@include transition-all(350ms);
		transition-timing-function: ease-in-out;
	}
	label {
		display: inline;
	}
	li:hover, a:hover, li:focus, li:active {
		.sub-group, .sub-group:hover  {
			opacity: 1;
			transform: translateY(0%);
			pointer-events: auto;
		}
	}
}
@include responsive('tablet-wide', max) {
	.nav-wrapper {
		background-color: rgba(255,255,255, 0.5);
	}
	#nav .links {
		text-align: left;
		li {
			color: #000;
			text-align: left;
			display: block;
		}
		.sub-group {
			opacity: 1;
			position: relative;
			height: auto;
		}
	}
	nav li:not(:first-child) {
	  	display: none;
  	}
  	nav li .icon {
    	float: right;
    	display: block;
  	}
  	nav .responsive {
		position: relative;
	}
  	nav .responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
  	}
  	nav .responsive li {
		float: none;
		display: block;
		text-align: left;
  	}
}
@include responsive('phone-wide', max) {
	
}
