
footer {
	.logo {
		padding-top: 50px;
		width: 100%;
		max-width: 200px;
		img {
			width: 100px;
		}
	}
	background-color: $dark-grey;
	overflow: auto;
	color: #fff;
	.footer-content {
		max-width: $page-width;
		margin: 0 auto;
		overflow: auto;
		display: block;
		.footer-block {
			width: 25%;
			float: left;
			.fa {
				color: #fff;
			}
			h4 {
				letter-spacing: 2px;
			}
			a { color: $light-grey; }
			h4, ul li {
				font-size: 0.85em;
				color: $light-grey;
				padding: 10px 0 0 0;
			}
			h4, strong {
				font-weight: 600;
				color: #fff;
			}
			.strip {
				border-bottom-color: $grey;
				width: 25%;
				margin: 15px 0;
			}
		}
		.semi-block {
			.strip { width: 75%; }
			padding: 10px 0;
			@extend .footer-block;
			width: 50%;
		}
	}
	.signatures {
		width: $page-width;
		background-color: $navy;
	}
}
@include responsive("tablet", max) {
	footer {
		.footer-content {
			.footer-block, .semi-block { width: 100%; }
			.semi-block { clear: both; }
		}
	}
}