<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="de" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html lang="de" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html lang="de" class="no-js ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="de" class="no-js"> <!--<![endif]-->
<head>

    {% set static_path = url_for('web.static', filename='') %}

    <title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Ballyconnell National">

	<link rel="icon" href="{{ url_for('web.static', filename='images/favicon.ico') }}" type="image/x-icon" style="color: #bababa">
	<link rel="shortcut icon" href="{{ url_for('web.static', filename='images/favicon.ico') }}" style="color: #bababa">

	<link rel="stylesheet" type="text/css" href="{{ url_for('asset_controller.static', filename='bootstrap/dist/css/bootstrap.min.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('asset_controller.static', filename='eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('asset_controller.static', filename='font-awesome/css/font-awesome.css')}}"/>

    {% block stylesheets %}
    {% endblock %}


    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>
{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block modals %}
{% endblock %}
</body>

<script src="{{ url_for('asset_controller.static', filename='moment/moment.js')}}"></script>
<script src="{{ url_for('asset_controller.static', filename='jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('asset_controller.static', filename='bootstrap/dist/js/bootstrap.js')}}"></script>
<script src="{{ url_for('asset_controller.static', filename='eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>

{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOkQOdkABchxxtKlqg6D2l8iDPXJ61ApA&callback=initMap" type="text/javascript"></script>#}

{% block scripts %}
{% endblock %}
</html>