

<footer>
    <div class="footer-content">
        <div class="footer-block">
            <h4>Find Us</h4>
            <div class="strip"></div>
            <ul>
                <li>Ballyconnell National School</li>
                <li>Tullow</li>
                <li>Co. Carlow</li>
                <li>R93VA44</li>
            </ul>
        </div>
        <div class="footer-block">
            <h4>Useful Links</h4>
            <div class="strip"></div>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="about">News</a></li>
                <li><a href="reports">Reports</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <h4>Website</h4>
            <div class="strip"></div>
            <ul>
                <li><a href="sitemap">Sitemap</a></li>
                <li><a href="terms">Terms</a></li>
                <li><a href="privacy">Privacy</a></li>
            </ul>
        </div>
        <div class="footer-block">
            <div class="logo">
                <img src="{{ static_path }}images/logo-small.png">
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="semi-block">
            <div class="strip"></div>
            <ul>
                <li>Under Administration of the <strong>Ballyconnell National School</strong> Faculty</li>
                <li>Copyright &copy; Ballyconnel National School | All Rights Reserved</li>
            </ul>
        </div>
        <div class="semi-block">
            <div class="strip"></div>
            <ul class="contacts-inverse">
                <li class="phone">+353 (0) 59 91 56226</li>
                <li class="email">ballyconnellnationalschool@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>