<div class="wrapper">
    <header class="text-center">
        <div class="navicon-container">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="logo">
            <a href=""><img src="{{ static_path }}images/logo-small.png"></a>
        </div>

        <ul class="left contacts">
            <li class="phone">+353 (0)59 91 56226</li>
            <li class="email">
                <a href="mailto:ballyconnellnationalschool@gmail.com?Subject=Inquiry" target="_top">ballyconnellnationalschool@gmail.com</a>
            </li>
            <li><span class="fa fa-cubes"></span><a href="admin">Staff Portal</a></li>
        </ul>
        <div id="searchbox" class="form-container">
            <form action="search" method="GET">
                <input class="form-element" type="text" name="query" placeholder="Search this site" required>
                <div class="icon-group">
                    <button type="submit" class="form-button">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </header>
</div>
<div class="nav-wrapper">
    <nav id="nav">
        <ul class="links">
        {% for object in navigation %}
            <li {% if object.active == True %} class="active"{% endif %}>
                <a href="{{ object.url | e }}">
                    {%  if object.is_parent() %}
                        <span class="fa fa-plus-circle"></span>
                    {% else %}
                        <span class="fa fa-caret-right"></span>
                    {% endif %}
                    {{ object.label | e }}
                </a>
                {%  if object.is_parent() %}
                    <input type="checkbox" id="{{ object.url }}-menu">
                    <label class="footer-header" for="{{ object.url }}-menu"></label>
                    <ul class="sub-group">
                        {% for child in object.items %}
                            <li><a href="{{ child.url }}">{{ child.label }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </nav>
</div>