
header, nav {
	.left-links {
		padding: 5px;
		float: left;
	}
	.right-links {
		float: right;
	}
	.fa {
		width: 50px;
		padding-right: 15px;
	}
	ul {
		padding: 0;
		margin: 0;
	}
	img {
		width: 50px;
	}
	ul li {
		list-style: none;
		font-size: 20px;
		a {
			width: auto;
			color: #fff;
			display: inline-block;
			text-decoration: none;
			padding: 18px;
		}
	}
}
header {
	position: relative;
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
	ul { float: right; }
	ul li { display: inline; }
}
nav {
	z-index: 2;
	position: absolute;
	width: 300px;
	background-color: navy;
	height: 100%;
	ul li {
		color: #fff;
		display: block;
		border-bottom: 1px solid #ccc;
	}
	ul {
		li:hover {
			background-color: #ccc;
		}
	}
}