@import "wireframe";
@import "common/buttons";
@import "components/navigation";
@import "components/footer";
@import "sections";

p {
	font-size: 20px;
}

html, body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
}

ul li {
	list-style: none;
}
a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
a:hover, a:visited, a:link, a:active {
	color: inherit;
}
.test {
	display: block;
}