
main {
	position: relative;
	section {
		padding-left: 300px;
		max-width: 1024px;
		width: auto;
		margin: 0 auto;
	}
}

#login {
	form {
		input {
			display: block;
			width: 100%;
			height: 60px;
			background-color: transparent;
			color: #000000;
			font-size: 20px;
			margin-bottom: 30px;
			border: 1px solid #000000;
			padding-left: 15px;
		}
		input::-webkit-input-placeholder {
			color: #000000;
		}
	}
	.logo {
		text-align: center;
		img {
			width: 60px;
		}
	}
	.background-wrapper {
		height: 100%;
    	width: 100%;
		position: absolute;
		img { 
			width: 100%;
			height: 100%;
		}
	}
	.login-panel {
		position: absolute;
		background-color: rgba(255,255,255,0.75);
		height: 100%;
		width: 100%;
		.panel-wrapper {
			width: 400px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 400px;
			margin: auto;
		}
	}
	.other-options {
		padding-top: 25px;
		li {
			text-align: center;
			display: inline;
			float: left;
			width: 50%;
		}
	}
}