{% macro render(role) %}
<div class="form-group">
    {% if role.type == "SelectField" %}
    <div class="form-group">
        {{ role.label }}
        {{ role (class="form-control") ( placeholder = {{ role.description }}) }}
    </div>
    {% endif %}
</div>
{% endmacro %}