
<header>
    <ul class="left-links">
        <li><img src="{{ url_for('web.static', filename='images/logo-small.png') }}"></li>
        <li>Ballyconnell National School Dashboard</li>
    </ul>
    <ul class="right-links">
        <li><a href="logout"><span class="fa fa-close"></span>Logout</a></li>
        <li><a href="profile"><span class="fa fa-user"></span>Profile</a></li>
        <li><a href="help"><span class="fa fa-question"></span>Help</a></li>
    </ul>
</header>
<nav>
    <ul>
        <li><a href="logout"><span class="fa fa-newspaper-o"></span>News</a></li>
        <li><a href="profile"><span class="fa fa-university"></span>Frontpage</a></li>
        <li><a href="help"><span class="fa fa-question"></span>Help</a></li>
    </ul>
</nav>