@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari and Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.site-nav {
  height: 70px;
  background-color: #FFF;
  overflow: hidden; }

.site-nav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.site-nav .icon {
  display: none; }

@media only screen and (max-width: 1023px) {
  .site-nav li:not(:first-child) {
    display: none; }
  .site-nav li .icon {
    float: right;
    display: block; }
  .site-nav .responsive {
    position: relative; }
  .site-nav .responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }
  .site-nav .responsive li {
    float: none;
    display: block;
    text-align: left; } }
