
.bns-button {
	height: 90px;
	background-color: $red;
	color: #fff;
	width: 100%;
	border: none;
	box-shadow: 1px 2px 8px #ccc;
}
.sub-group {
    display: block;
    font-size: .9375em;
    letter-spacing: .03em;
}

input[type=checkbox], .footer-group input[type=checkbox]:checked~label::before {
	display: none;
}
input[type=checkbox]:checked~.sub-group {
    display: block;
}

label:hover:after {
	content: "\f067";
}

input[type=checkbox] {
	display:none;
}
input[type=checkbox] + label:after {
	font-family: FontAwesome;
	display: none;
	position: absolute;
    right: 10px;
}

@include responsive("tablet-wide", max) {
	input[type=checkbox] + label:after {
		display: inline-block;
	}
	.sub-group {
		display: none;
	}
}

input[type=checkbox] + label:after { content: "\f0d7"; } /* unchecked icon */
input[type=checkbox] + label:after { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:after { content: "\f0d8"; } /* checked icon */
input[type=checkbox]:checked + label:after { letter-spacing: 10px; } /* allow space for check mark */

label, label:after {
	// @include transition-all(500ms);
}


#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 10px;
}

#nav-icon span:nth-child(4) {
  top: 20px;
}

#nav-icon.nav-open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon.nav-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.nav-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.nav-open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

/* Icon 1 */
.navicon-container {
	display: none;
}
#nav-icon {
	z-index: 10;
	display: none;
	width: 35px;
	height: 45px;
	position: absolute;
	top: 25px;
	right: 25px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: $navy;
	border-radius: 0px;
	opacity: 1;
	right: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.nav-open span {
	background-color: $navy;
}

@include responsive("tablet-wide", max) {
	#nav-icon, .navicon-container {
		display: block;
	}
}