.form-container {
//	position: relative;
//	display: table;
//	border-collapse: separate;
	width: 300px;
	float: right;
}
.icon-group .form-element {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-button {
	background-color: $navy;
	border: none;
	box-shadow: none;
}

.icon-group {
	padding: 6px 2px;
    background-color: #141728;
    margin-left: -5px;
    color: #fff;
    height: 100%;
    display: inline-block;
}
form {
	position: relative;
}
.form-element {
	display: inline;
	width: 75%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border-radius: 0px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}