
.contacts {
	color: #000;
	text-align: left;
	li, .email, .phone {
		display: block;
		font-size: 0.85em;
		line-height: 30px;
	}
	.email:before, .phone:before {
		font-family: FontAwesome;
		padding-left: 15px;
		padding-right: 15px;
		font-size: inherit;
	}
	.email:before {
		content: "\f0e0";
	}
	.phone:before {
		content: "\f095";
	}
}
.contacts-inverse {
	@extend .contacts;
	color: #fff;
}